#!/bin/bash

set -e

# Set the repository and Mastodon paths
TANGERINEUI="/home/mastodon/TangerineUI"
MASTODON="/home/mastodon/live"

# Navigate to the repository
cd "$TANGERINEUI" || { echo "Tangerine UI repository directory not found: $TANGERINEUI"; exit 1; }

# Pull the latest changes from the repository
git pull || { echo "Failed to pull latest changes from the Tangerine UI repository"; exit 1; }

# Copy styles from the Mastodon repository to the target directory
cp -r "./mastodon/app/javascript/styles/"* "$MASTODON/app/javascript/styles"

# Navigate to the Mastodon directory
cd "$MASTODON" || { echo "Mastodon directory not found: $MASTODON"; exit 1; }

# Precompile assets in production mode
RAILS_ENV=production bundle exec rails assets:precompile

echo ""
echo "Tangerine UI was successfully updated."
echo "Restart all Mastodon services for the changes to take effect."
